.signup-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: 768px) {
    align-items: center;
    flex-direction: row;
    gap: 8px;
  }

  @media (min-width: 1024px) {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  @media (min-width: 1440px) {
    align-items: center;
    flex-direction: row;
    gap: 100px;
  }
}

.signup-img {
  @media (min-width: 768px) {
    max-width: 56%;
  }
  @media (min-width: 1440px) {
    max-width: 890px;
    height: 943px;
  }
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 0 10px;
  padding-bottom: 6px;

  @media (min-width: 768px) {
    gap: 6px;
  }
  @media (min-width: 1024px) {
    gap: 14px;
  }
}

.label {
  display: block;
  text-align: left;

  color: var(--black-text);
  font-family: Merriweather;
  font-size: 14px;
  font-weight: 700;
  line-height: 2.43;
}

.input {
  width: 300px;
  padding: 10px 20px 12px 20px;
  justify-content: center;
  align-items: center;
  display: block;
  border-radius: 5px;
  border: 2px solid var(--background-title-color);
  background-color: var(--background-title-color);

  @media (min-width: 1024px) {
    width: 350px;
  }
}

.sign-up-text {
  width: 300px;
  height: 44px;
  flex-shrink: 0;
  border: none;
  border-radius: 5px;
  background: var(--accent-color);

  color: var(--white-color);
  text-align: center;

  font-family: Merriweather;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38;

  @media (min-width: 1024px) {
    width: 350px;
  }
}

.login-to-signup {
  color: var(--accent-color);
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.58;
}

.centered-block {
  margin: 0 auto;
  padding: 0 18px;
}

.signup-header {
  color: var(--main-color);
  font-family: Merriweather;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.21;
  padding-left: 8px;
}